body {
    background-color: #000000;         
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgrey;
    text-align: center;
    margin: 0 auto;
}
header {
    background-color: #444444;
}
main {
    background-color: #555555;
}
footer {
    background-color: #666666;
}
h1 {
    font-size: 56px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 4px;
    margin-bottom: 4px;
}
h2 {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 4px;
    margin-bottom: 6px;
}
h3 {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #888888;
}
.main-table {
    font-family: monospace;
    background-color: white;
    color: black;
    margin: 0 auto;    
    width: 100%;
}
.inner-table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;    
    margin: 0 auto;    
    width: 66%;
}
